{
  "job_type": "PSORTb",
  "first_component": "psortb",
  "admin_email": "lairdm@sfu.ca",
  "mailer_from": "psort-mail@sfu.ca",
  "mailer_script": "/data/Resources/psortb/scripts/mailuser.pl %%jobid%% %%status%%",
  "components": [
      {
          "name": "psortb",
          "status_test":  "/data/Resources/psortb/scripts/check_status.pl -s %%jobid%%",
          "success_required": "true"
      }
  ]
}