{% extends "base.html" %}
{% load static %} 

{% block headextras %}
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables.inputPagination.js' %}"></script>
{% endblock %}

{% block content %}
<table id="{{ jobstablename|default:"jobstable" }}" class="jobstable table table-striped table-condensed table-hover ms-table" style="font-size: 90%">
<thead>
<tr>
<th></th>
<th>Task id</th>
<th>Run status</th>
<th>Job id</th>
<th>Job type</th>
<th>Job name</th>
<th>Extra parameters</th>
<th>Scheduler</th>
<th>Date Started</th>
<th>Date Completed</th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<script type="text/javascript">
var displayLength = 30;
var anOpen = [];

function fnFormatDetails ( oTable, nTr )
{
	var oData = oTable.fnGetData( nTr );
	var url = '{% url 'jobdetailsjson' '9999' %}'.replace('9999', oData.task_id);
   	var ret_str = '';
	$.ajax({
		url: url,
		dataType: 'json',
		async: false,
		success: function(data) {
	    	for (var c in data["component_order"]) {
	    		var c_type = data["component_order"][c]
	    		if(data.components[c_type]) {
					ret_str += "<tr><td>Type:</td><td>" + c_type + "</td><td>&nbsp;&nbsp;&nbsp;</td><td>status:</td><td><span class=\"" + data.components[c_type].status.toLowerCase() + "\">" +  data.components[c_type].status + "</span></td></tr>";
	    		}
	    	}
	    }

	});

	return "Details<br /><table>" + ret_str + "</table>";	
}

var arrayColumns = [
                    {"mDataProp": null,"sClass": "control center",
                    	"sDefaultContent": '<img src="{% static 'images/details_open.png' %}">'},
                    {"mData": "task_id", "bVisible": true, "sSortDataType": "dom-text"},
                    {"mData": null, "bVisible": true},
                    {"mData": "job_id", "bVisible": true},                    
                    {"mData": "job_type", "bVisible": true},
                    {"mData": "job_name", "bVisible": true},
                    {"mData": "extra", "bVisible": true},
                    {"mData": "scheduler", "bVisible": true},
                    {"mData": "start_date", "bVisible": true},
                    {"mData": "complete_date", "bVisible": true},
                ];
var  oTable = $('#{{ jobstablename|default:"jobstable" }}').dataTable({
 "iDisplayLength": displayLength,
    "sScrollX": "100%",
    "sScrollXInner": "100%",
    "bProcessing": true,
    "bAutoWidth": false,
    "bPaginate": true,
    "sPaginationType": "input",    
    "bInfo": true,
    "bFilter": true,
    "sAjaxSource": "{% url 'showjobsjson' %}",
    "bServerSide": true,
    "aoColumns": arrayColumns,
    "aaSorting": [[ 1, 'asc' ]],
    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
       $(nRow).addClass('method' + aData.group);
    },
    "aoColumnDefs": [
      { "bSortable": false, "aTargets": [ 0 ] },
      {		
		"aTargets": [2],
		"mData": null,
		"mRender": function(data, type, full) {
			return '<span class="' + full.run_status.toLowerCase() + '">' + full.run_status + '</span>';
		}
	  },
	  {
          "aTargets": [3],
          "mData": null,
          "mRender": function(data, type, full) {
              return '<a href="' + '{%url 'jobdetails' '9999' %}'.replace(9999, full.job_id) + '">' + full.job_id + '</a>';
         },
       }
     ]
});

/* Add event listener for opening and closing details
 * Note that the indicator for showing which row is open is not controlled by DataTables,
 * rather it is done here
 */
$(document).on('click', '#{{ jobstablename|default:"jobstable" }} td.control', function () {
	var nTr = this.parentNode;
	   var i = $.inArray( nTr, anOpen );
	    
	   if ( i === -1 ) {
	      $('img', this).attr( 'src', '{% static 'images/details_close.png' %}' );
	      oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
	      anOpen.push( nTr );
	    }
	    else {
	      $('img', this).attr( 'src', '{% static 'images/details_open.png' %}' );
	      oTable.fnClose( nTr );
	      anOpen.splice( i, 1 );
	    }
	} );
	
	
</script>
{% endblock content %}
